[submodule "Sc2AutoObserver"]
	path = Sc2AutoObserver
	url = https://github.com/Archiatrus/Sc2AutoObserver.git
[submodule "Overseer"]
	path = Overseer
	url = https://github.com/pimmen/Overseer.git
[submodule "s2client-api"]
	path = s2client-api
	url = https://github.com/Cryptyc/Sc2LadderServer
